<div class="sample-tree">
    {{ember-jstree
        selectedNodes=jstreeSelectedNodes
        treeObject=jstreeObject
        data=data
        plugins=plugins
        themes=themes
        checkboxOptions=checkboxOptions
        contextmenuOptions=contextmenuOptions
        contextMenuReportClicked="contextMenuReportClicked"
        stateOptions=stateOptions
        typesOptions=typesOptions
    }}
</div>

<div class="info">
    <div class="status">
        <h2>Tree Status</h2>
        <p {{bind-attr class=":tree-status treeReady:tree-ready:tree-not-ready"}}>Tree Ready? <strong>{{#if treeReady}}Yes{{else}}No{{/if}}</strong></p>
        <p>Last Context Item Clicked: <strong>{{lastItemClicked}}</strong></p>
    </div>

    <div class="selected">
        <h2>Selected Items</h2>
        {{#if sortedSelectedNodes}}
            <ul>
            {{#each node in sortedSelectedNodes}}
                <li><strong>{{node.text}}</strong></li>
            {{/each}}
            </ul>
        {{/if}}
    </div>

    <div class="actions">
        <h2>Actions</h2>
        <button {{action "toggleNode" "rn2"}}>Toggle "Root node 2"</button>
        <br><br>
        <button {{action "getNode" "rn2"}}>Get "Root node 2"</button>
        <br><br>
        <button {{action "refresh"}}>Refresh</button>
        <br><br>
        <button {{action "destroy"}}>Destroy</button>
        <br><br>
        <button {{action "addChildByText" "rn2" "Another child node"}}>Add child to "Root node 2"</button>
        <br><br>
        <button {{action "addChildByText" "scn" "Another child node"}}>Add child to "Single child node"</button>
    </div>

    <div class="buffer">
        <h2>Buffer Console</h2>
        <pre>{{jsonifiedBuffer}}</pre>
    </div>

</div>